.center_all{
    width: 50%;
    margin: 10px auto;
  }

h2{
    border-bottom: double 6px #f08080;
  }

.top{
    border-top: solid #f08080;
  }

.under{
    border-bottom: solid #f08080;
  }

a {
    color: #f08080; 
    text-decoration: none; 
  }

.space{
    margin-right : 10px;
  }


